* {
    margin: 15px;
    padding: 5px;
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    
}
h1{
    color : #ffc400;
    font-size: 40px;
}
h2 {
    color:#af8562;
    font-size: 25px;
    
}
p {
    color: black;
    font-size: 15px;
    text-align: center;
}

marquee {
    color: darkgoldenrod;
    font-size: 30px;
}

.cointainer {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.blog {
    width: 75%;
    float: left;
    padding-top: 0px;
    background-color: azure;
    position: relative;
    
}

.author {
    background-color: #fff72a;
    padding-top: 4px;
    padding-bottom: 20px;
    border-bottom: 70px solid #d4a116;
    box-sizing: border-box;
    font-size: 30px;

    
}

.other {
    font-size: 20px;
    background-color: #7ce7eb;
    width: 18%;
    float: right;

}

.author img {
    height: 150px;
    width: 150px;
    float: left;
}

.other img{
    height: 120px;
    width: 130px;
    border-radius: 50%;
}
.date{
    position: absolute;
    top: 20px;
    right: 0px;
}